.modal-message{
    z-index: 2002;
    position: absolute;
}

/* Smartphone XS screen */
@media (min-width: 300px){
    .modal-message{
        margin-top: 60%;
    }
}

/* Smartphone screen */
@media (min-width: 350px){
    .modal-message{
        margin-top: 55%;
    }
}

/* Smartphone XL screen */
@media (min-width: 481px){
    .modal-message{
        margin-top: 35%;
    }
}

/* Tablet sreen */
@media (min-width: 768px){
    .modal-message{
        margin-top: 25%;
    }
}

/* Desktop screen */
@media (min-width: 992px){
    .modal-message{
        margin-top: 25%;
    }
}

/* XL screen*/
@media (min-width: 1200px){
    .modal-message{
        margin-top: 20%;
    }
}