.background-image{
    position: absolute;
    background-image: url(../../assets/images/fifa-manager-login.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    color: white;
}

.background-image::before{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background-color: rgba(84, 110, 122, 0.9);
}

.form-container{
    background-color: #303030;
    border-radius: 15px;
    box-shadow: 3px 3px 10px #4f4f4f, -3px 0 5px #4f4f4f;
}