@keyframes spinner{
    to {transform: rotate(360deg);}
}

.spinner{
    /* This CSS code center spinner in page. */
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 2px solid #07d;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
    z-index: 2000;
}